@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Hacen-Saudi-Arabia.ttf);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: myFirstFont;
    background-image: url("../images/Eid-Mubarak-Web-Banner-19.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* mobile */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 1);
    z-index: 1;
}

header h1 {
    font-size: 50px;
}

header h2 {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: auto;
    margin-bottom: 50px;
}

header h1 {
    color: rgb(255, 255, 255);
}

header h2 span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: slide 10s infinite;
    font-weight: bold;
    color: white;
}

header li {
    color: white;
    text-align: right;
    font-size: 18px;
    margin-top: 15px;
}

@media(max-width:767px) {
    body {
        font-family: myFirstFont;
        background-image: url("../images/Eid-Mubarak-Web-Banner-19.svg");
        background-position: 20%;
    }

    header {
        background: rgba(255, 255, 255, 0.14);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        border: 1px solid rgba(255, 255, 255, 1);
    }

    header h1 {
        font-size: 45px;
    }

    header h2 span {
        font-size: 22px;
        animation: slide1 10s infinite;
    }

    header li {
        font-size: 17px;
    }
}

/* end header */
/* start images */
.images img {
    height: 200px;
    animation: swing 10s infinite;
}

header .images .one {
    position: relative;
}

.images .one img {
    position: absolute;
    left: 50%;
    top: 73%;
}

header .images .two {
    position: relative;
}

.images .two img {
    position: absolute;
    left: 76%;
    top: 73%;
}

header .images .three {
    position: relative;
}

.images .three img {
    position: absolute;
    left: 78%;
    top: 0;
}

header .images .four {
    position: relative;
}

.images .four img {
    position: absolute;
    left: 20%;
    top: 73%;
}

header .images .five {
    position: relative;
}

.images .five img {
    position: absolute;
    left: 15%;
    top: 0;
}

header .images .six {
    position: relative;
}

.images .six img {
    position: absolute;
    left: 50%;
    top: 0;
}

@media(max-width:767px) {
    .images img {
        height: 150px;
    }

    header .images .one {
        position: relative;
    }

    .images .one img {
        position: absolute;
        left: 42%;
        top: 675px;
    }

    header .images .two {
        position: relative;
    }

    .images .two img {
        position: absolute;
        left: 80%;
        top: 675px;
    }

    header .images .three {
        position: relative;
    }

    .images .three img {
        position: absolute;
        left: 70%;
        top: 0;
        z-index: 2;
    }

    header .images .four {
        position: relative;
    }

    .images .four img {
        position: absolute;
        left: 5%;
        top: 675px;
    }

    header .images .five {
        position: relative;
    }

    .images .five img {
        position: absolute;
        left: 5%;
        top: 0;
        z-index: 2;
    }

    header .images .six {
        position: relative;
    }

    .images .six img {
        position: absolute;
        left: 42%;
        top: 0;
        z-index: 2;
    }
}

/* end images */
/* start keyframes */
@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -1.2em;
    }

    50% {
        top: -2.4em;
    }

}

@keyframes slide1 {
    0% {
        top:0;
    }

    25% {
        top: -1.2em;
    }

    50% {
        top: -2.6em;
    }

    75% {
        top: -3.8em;
    }

    100% {
        top: -5.2em;
    }

}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* end keyframes */